# Data Processing & Math
numpy
pandas
scipy
fastparquet

# Machine Learning
scikit-learn
joblib

# Chemistry & Cheminformatics
rdkit

# Spectroscopy Parsers
brukeropusreader
jcamp

# Visualization
matplotlib

